@import "tailwindcss";


@font-face {
  font-family: "robotoRegular";
  src: url("../../public/font/Roboto/Roboto-Regular.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../../public/font/Roboto/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "robotoBold";
  src: url("../../public/font/Roboto/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "robotoThin";
  src: url("../../public/font/Roboto/Roboto-Thin.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-myprimary: #89AEB2;
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: roboto, sans-serif;
}
